# Johnny's Airline Summary
#### The summary begins with a formatted string that was derived from dataframe summary calculations for Alaska and Amwest Airlines.

## Summary for Alaska Airlines

In [200]:
"For Alaska Airlines, there is a total of {0} flights.  {1} of these flights were On Time. The average \
number of On Time flights is {2}.  The median number of On Time flights is {3}. {4} was the destination with \
the most On Time flights with {5} while {6} had the fewest On Time flights with {7}. {8} flights were delayed.  The \
average number of delayed flights was {9}. The median number of delayed flights is {10}. The most delays occured in {11} \
with {12} while the least amount of delays occurred in {13} with {14}." .format(aaALL_sum, aaOT_sum, aaOT_mean[0], 
                                                                               aaOT_med[0], maxOT_dest, aaOT_max[3], minOT_dest, aaOT_min[3], aaDL_sum, 
                                                                               aaDL_mean[0], aaDL_med[0], maxDL_dest, aaDL_max[3], minDL_dest, 
                                                                               aaDL_min[3])

'For Alaska Airlines, there is a total of 3775 flights.  3274 of these flights were On Time. The average number of On Time flights is 654.8.  The median number of On Time flights is 497.0. Seattle was the destination with the most On Time flights with 1841 while San Diego had the fewest On Time flights with 212. 501 flights were delayed.  The average number of delayed flights was 100.2. The median number of delayed flights is 62.0. The most delays occured in Seattle with 305 while the least amount of delays occurred in Phoenix with 12.'

## Summary for Amwest Airlines

In [201]:
"For Amwest Airlines, there is a total of {0} flights.  {1} of these flights were On Time. The average \
number of On Time flights is {2}.  The median number of On Time flights is {3}. {4} was the destination with \
the most On Time flights with {5} while {6} had the fewest On Time flights with {7}. {8} flights were delayed.  The \
average number of delayed flights was {9}. The median number of delayed flights is {10}. The most delays occured in {11} \
with {12} while the least amount of delays occurred in {13} with {14}." .format(amwestALL_sum, amwestOT_sum, amwestOT_mean[0], 
                                                                               amwestOT_med[0], amwestmaxOT_dest, amwestOT_max[3], amwestminOT_dest, 
                                                                               amwestOT_min[3], amwestDL_sum, amwestDL_mean[0], amwestDL_med[0], amwestmaxDL_dest, 
                                                                               amwestDL_max[3], amwestminDL_dest, amwestDL_min[3])

'For Amwest Airlines, there is a total of 7225 flights.  6438 of these flights were On Time. The average number of On Time flights is 1287.6.  The median number of On Time flights is 383.0. Phoenix was the destination with the most On Time flights with 4840 while Seattle had the fewest On Time flights with 201. 787 flights were delayed.  The average number of delayed flights was 157.4. The median number of delayed flights is 117.0. The most delays occured in Phoenix with 415 while the least amount of delays occurred in Seattle with 61.'

------------------------

## Import the CSV
#### This section imports the csv file containing the airline data.

In [202]:
# Import Numpy ad Pandas
import numpy as np
import pandas as pd

# Settings
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

df1 = pd.read_csv('c:/data/airlinedata.csv')
df1

   Airline    Destination   Status  QTY_flights
0   Alaska    Los Angeles  On Time          497
1   Alaska    Los Angeles  Delayed           62
2   Alaska        Phoenix  On Time          221
3   Alaska        Phoenix  Delayed           12
4   Alaska      San Diego  On Time          212
..     ...            ...      ...          ...
15  Amwest      San Diego  Delayed           65
16  Amwest  San Francisco  On Time          320
17  Amwest  San Francisco  Delayed          129
18  Amwest        Seattle  On Time          201
19  Amwest        Seattle  Delayed           61

[20 rows x 4 columns]

## Alaska Airlines Flights: Total Number of Flights
#### Here I collect the total number of Alaska Flights.

In [203]:
alaskaALL = df1[(df1.Airline == 'Alaska')]
alaskaALL

  Airline    Destination   Status  QTY_flights
0  Alaska    Los Angeles  On Time          497
1  Alaska    Los Angeles  Delayed           62
2  Alaska        Phoenix  On Time          221
3  Alaska        Phoenix  Delayed           12
4  Alaska      San Diego  On Time          212
5  Alaska      San Diego  Delayed           20
6  Alaska  San Francisco  On Time          503
7  Alaska  San Francisco  Delayed          102
8  Alaska        Seattle  On Time         1841
9  Alaska        Seattle  Delayed          305

In [204]:
aaALL_sum = alaskaALL['QTY_flights'].sum()
aaALL_sum

3775

## Alaska Airlines Flights: Mean, Median, Min & Max for ON TIME Flights
#### Here I select On Time flights and collect summary values.

In [205]:
alaskaOT = df1[(df1.Status == 'On Time') & (df.Airline == 'Alaska')]
alaskaOT

  Airline    Destination   Status  QTY_flights
0  Alaska    Los Angeles  On Time          497
2  Alaska        Phoenix  On Time          221
4  Alaska      San Diego  On Time          212
6  Alaska  San Francisco  On Time          503
8  Alaska        Seattle  On Time         1841

In [206]:
aaOT_sum = alaskaOT['QTY_flights'].sum()
aaOT_mean = alaskaOT.mean()
aaOT_med = alaskaOT.median()
aaOT_min = alaskaOT.min()
minOT_dest = alaskaOT.at[4, 'Destination']
aaOT_max = alaskaOT.max()
maxOT_dest = alaskaOT.at[8, 'Destination']

## Alaska Airlines Flights: Mean, Median, Min & Max for DELAYED Flights
#### Here I select Delayed flights and collect summary values.

In [207]:
alaskaDL = df1[(df.Status == 'Delayed') & (df.Airline == 'Alaska')]
alaskaDL

  Airline    Destination   Status  QTY_flights
1  Alaska    Los Angeles  Delayed           62
3  Alaska        Phoenix  Delayed           12
5  Alaska      San Diego  Delayed           20
7  Alaska  San Francisco  Delayed          102
9  Alaska        Seattle  Delayed          305

In [208]:
aaDL_sum = alaskaDL['QTY_flights'].sum()
aaDL_mean = alaskaDL.mean()
aaDL_med = alaskaDL.median()
aaDL_min = alaskaDL.min()
minDL_dest = alaskaDL.at[3, 'Destination']
aaDL_max = alaskaDL.max()
maxDL_dest = alaskaDL.at[9, 'Destination']

-------------------------

## Amwest Airlines Flights: Total Number of Flights
#### Here I collect the total number of Amwest Flights.

In [209]:
amwestALL = df1[(df1.Airline == 'Amwest')]
amwestALL

   Airline    Destination   Status  QTY_flights
10  Amwest    Los Angeles  On Time          694
11  Amwest    Los Angeles  Delayed          117
12  Amwest        Phoenix  On Time         4840
13  Amwest        Phoenix  Delayed          415
14  Amwest      San Diego  On Time          383
15  Amwest      San Diego  Delayed           65
16  Amwest  San Francisco  On Time          320
17  Amwest  San Francisco  Delayed          129
18  Amwest        Seattle  On Time          201
19  Amwest        Seattle  Delayed           61

In [210]:
amwestALL_sum = amwestALL['QTY_flights'].sum()
amwestALL_sum

7225

## Amwest Airlines Flights: Mean, Median, Min & Max for ON TIME Flights
#### Here I select On Time flights and collect summary values.

In [211]:
amwestOT = df1[(df1.Status == 'On Time') & (df.Airline == 'Amwest')]
amwestOT

   Airline    Destination   Status  QTY_flights
10  Amwest    Los Angeles  On Time          694
12  Amwest        Phoenix  On Time         4840
14  Amwest      San Diego  On Time          383
16  Amwest  San Francisco  On Time          320
18  Amwest        Seattle  On Time          201

In [212]:
amwestOT_sum = amwestOT['QTY_flights'].sum()
amwestOT_mean = amwestOT.mean()
amwestOT_med = amwestOT.median()
amwestOT_min = amwestOT.min()
amwestminOT_dest = amwestOT.at[18, 'Destination']
amwestOT_max = amwestOT.max()
amwestmaxOT_dest = amwestOT.at[12, 'Destination']

## Amwest Airlines Flights: Mean, Median, Min & Max for DELAYED Flights
#### Here I select Delayed flights and collect summary values.

In [213]:
amwestDL = df1[(df.Status == 'Delayed') & (df.Airline == 'Amwest')]
amwestDL

   Airline    Destination   Status  QTY_flights
11  Amwest    Los Angeles  Delayed          117
13  Amwest        Phoenix  Delayed          415
15  Amwest      San Diego  Delayed           65
17  Amwest  San Francisco  Delayed          129
19  Amwest        Seattle  Delayed           61

In [214]:
amwestDL_sum = amwestDL['QTY_flights'].sum()
amwestDL_mean = amwestDL.mean()
amwestDL_med = amwestDL.median()
amwestDL_min = amwestDL.min()
amwestminDL_dest = amwestDL.at[19, 'Destination']
amwestDL_max = amwestDL.max()
amwestmaxDL_dest = amwestDL.at[13, 'Destination']