# Johnny's Week 5 Assignment

In [115]:
import pandas as pd

## Importing the Data
For this assignment, we'll import the airport and weather csv data directly from the web source.

In [116]:
airports = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv')
weather = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv')

## The Most Northern US Airport Is...
To find the most northern most airport, we sort the airport list in descending order by latitude. The list identifies the Dillant Hopkins Airport as the most northern.  However, independent verification via Google Maps shows this to be incorrect.  The latitude and longitude values for EEN row are flipped; the correct latitude for EEN is 42 degrees not 72 degrees.  The row for EEN is dropped since it appears to be incorrect (alternatively, the data can be corrected).

Wiley Post Will Rogers is the most northern airport in the data set.

In [117]:
northern_most = airports.sort_values('lat', ascending=False).head()
northern_most

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9.0,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9.0,A,America/Anchorage

In [118]:
northern_most.drop([417])

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9.0,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9.0,A,America/Anchorage

-------------------------------------------

## The Most Eastern US Airport Is... 
To find the eastern-most airport in the US, we need to perform two steps.  First, we need to isolate the eastern most longitudinal values (where longitude is less than zero).  Then we sort the list in descending order to identify the eastern most longitudes.

The eastern most airport in the US is Eastport Municipal Airport.  A Google map look up of the first 5 airports verifies the conclusion.

In [119]:
airports[airports.lon <= 0].sort_values('lon', ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5.0,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5.0,A,America/New_York
259,CAR,Caribou Muni,46.871500,-68.017917,626,-5.0,A,America/New_York
1101,PQI,Northern Maine Rgnl At Presque Isle,46.688958,-68.044797,534,-5.0,A,America/New_York
1398,WFK,Northern Aroostook Regional Airport,47.285556,-68.312778,988,-5.0,A,America/New_York

-----------------------------

## The Windiest Airport On Feb 12 2013 Is...
To answer this question, we'll look at aggragate values for wind speed.  First, we select the data set for 2/12/2013 and sort by wind speed to get the top wind speeds.

In [120]:
top = weather[(weather.year == 2013) & (weather.month == 2) & (weather.day == 12)].sort_values('wind_speed', ascending=False)
top.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1015,EWR,2013,2,12,8,39.02,26.96,61.63,260.0,1048.36058,1206.432388,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18433,LGA,2013,2,12,7,42.98,26.06,50.94,290.0,23.01560,26.485892,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1024,EWR,2013,2,12,17,44.06,26.06,48.87,270.0,21.86482,25.161598,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18444,LGA,2013,2,12,18,44.06,23.00,43.02,300.0,21.86482,25.161598,0.0,1011.7,10.0,2013-02-12T18:00:00Z
9728,JFK,2013,2,12,13,42.08,24.08,48.56,280.0,20.71404,23.837303,0.0,1011.6,10.0,2013-02-12T13:00:00Z

When you analyze the aggregate summary data for the New York airports, the top row skews the summary information for the 2/13/2013 dataset.

In [121]:
top.groupby('origin').wind_speed.agg(['max', 'mean', 'median'])

               max       mean    median
origin
EWR     1048.36058  55.668983  13.80936
JFK       20.71404  13.090122  14.96014
LGA       23.01560  13.857309  14.38475

To resolve this issue, we drop the row containing the bad wind speed value.  The resulting summary values are a better representation of the wind speeds at the airports on this date.

In [122]:
revised = top.drop([1015])

In [123]:
revised.groupby('origin').wind_speed.agg(['max', 'mean', 'median'])

             max       mean    median
origin
EWR     21.86482  12.508478  13.80936
JFK     20.71404  13.090122  14.96014
LGA     23.01560  13.857309  14.38475

On 2/12/2013, LGA had the higest average wind speeds while JFK had the highest median wind speeds.